<!-- Blog main page for "LumberJack" -->

<%- include("../views/partials/header.ejs") -%>

<div class="greeting-pane--blog">
    <div class="greeting-img--blog">
        <img src="/images/mountain-scene.png">
    </div>
    <div class="greeting-text--blog">
        <h1>Blog Freely</h1>
        <p>Log in to Prismic and create a new post anywhere you are. LumberJack will create an introduction and 
            generate&nbsp;post&nbsp;markup&nbsp;on&nbsp;the&nbsp;fly.</p>
    </div>
</div>

<% document.forEach(function(post) { %>

    <div class="card card--blog-main" onmouseover="mouseHover(event)" onclick="location.href='./posts/<%=post.data.title[0].text.replace(/ /g, "-").replace(/\'/g, "").replace(/\,/g, "").replace(/\!/g, "").replace(/\?/g, "").replace(/\./g, "").replace(/\//g, "").replace(/\"/g, "") %>' ">
        <div class="blog-card-inner-wrap">

            <div class="blog-card-left-section">
                <div class="intro-img">
                    <img src=<%=post.data.image.url%>>
                </div>
                <p><i>Published <%=post.first_publication_date.slice(5, 10)%>, <%=post.first_publication_date.slice(0, 4)%></i></p>
            </div>

            <div class="blog-card-right-section">
                <div class="intro-text-box">
                    <h2><%=post.data.title[0].text%></h2>
                    <p class="description"><%=post.data.description[0].text.slice(0, 230)%></p>
                    <button class="intro-read-more" type="button" 
                    onclick="location.href='./posts/<%=post.data.title[0].text.replace(/ /g, "-").replace(/\'/g, "").replace(/\,/g, "").replace(/\!/g, "").replace(/\?/g, "").replace(/\./g, "").replace(/\//g, "").replace(/\"/g, "") %>' "><span class="btn-text-offset">Read More</span></button>
                </div>
            </div>

        </div>
    </div>

<% }); %>

<%- include("../views/partials/footer.ejs") -%>


<!-- END of document -->